<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "My App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
    <%# 사용자 로그인 후 정보 %>
    <div>
      <p>
        👋 
        <% if current_user.image_url.present? %>
          <img src="<%= current_user.image_url %>" alt="<%= current_user.name || current_user.email %>" class="user-avatar" width="40" height="40">
        <% end %>
        <% if current_user.name.present? %>
          <%= current_user.name %> (<%= current_user.email %>)
        <% else %>
          <%= current_user.email %>
        <% end %>
        님, 환영합니다!
      </p>
    </div>
      <%= form_with url: session_path, method: :delete do %>
        <%= submit_tag "로그아웃" %>
      <% end %>
    <% else %>
      <%#= link_to "로그인", "/auth/google_oauth2" %>
    <% end %>
    <%= yield %>
  </body>
</html>
